.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  align-items: center;
}

.link {
  color: var(--acc);
  display: flex;
}

.link:hover {
  color: var(--acc-hover);
}
